.conteiner{
  header{
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 10px 10px 0 10px;
    margin-bottom: 0.5rem;
    h1{
      font-size: 2rem;
      &:nth-child(1){
        padding: 1px 5px;
        color: white;
        outline: 2px solid white;
      }
    }
  }
  main{
    padding: 10px;
  }
}

