<div class="post">
  <a [routerLink]="['/front_page']" routerLinkActive="router-link-active">Назад</a>
  <ng-container *ngIf="isLoad$ | async; else spiner">
    <ng-container *ngIf="posts$ | async as posts; else spiner">
      <ng-container *ngIf="postItems$ | async as postItems; else spiner">
        <div class="content">

          <app-post
          *ngIf="posts[0].story_title"
          [title]="posts[0].story_title"
          [linkNews] ="posts[0].story_url"
          [author]="posts[0].author"
          [points] ="postItems[0].points"
          [comments] ="postItems[0].children"
          [id]="id"
          ></app-post>

          <app-comments [comments]="postItems[0].children">
          </app-comments>

        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>


<ng-template #spiner>
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
