.tree{
  ul{
    margin-top: 0;
    margin-bottom: 0;
    li{
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.nested-node{
  padding-left: 80px;
}

.mat-tree-node{
  margin-left: 40px;
  margin-top: 1.5rem;
}

.tree-invisable{
  display: none;
}

.flex{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  .author{
    font-size: 0.8rem;
    opacity: 0.6;
  }
}
